:root {
    --font: tahoma;
    --font-size: 11px;
    --annual-font-size: 10.7px;
}

/* Static \/ */



/* Lightblue Link */



/* Blue Button */



/* Text Input */



/* Bullet Points */



/*  Static /\ */



/* Top Content \/ */

/* Top Content /\ */


/* Bottom Content \/ */

/* Bottom Content /\ */


/* Annual Content \/ */

/* Annual Content /\ */


/* Left Login Form \/ */

/* Left Login Form /\ */


/* Left Logged Out Links \/ */

/* Left Logged Out Links /\ */


/* Left Logged In Links \/ */

/* Left Logged In Links /\ */