:root {
    --standard-page-width: 680px;
    --lightblue: rgb(123, 168, 237);
    --darkblue: #3b5998;
    --hover-lightblue: rgb(134, 197, 231);
    --button-color: rgb(83, 148, 232);
    --input-color: #c8c8e6;
    --font: tahoma;
    --font-size: 11px;
    --content-font-size: 11.5px;
}

.main-pagebox {
    border: 1px solid var(--darkblue);
    width: var(--standard-page-width);
    margin: 0 auto;
}
.main-page-flexbox {
    padding: 2px;
    display: flex;
    gap: 2px;
}
.right-main-window {
    flex: 3.48;
    align-self: flex-end;
    border: 1px solid var(--darkblue);
}

.right-main-window h4 {
    font-family: var(--font);    
    font-weight: bold;
    text-align: center;
}
.window-text {
    font-family: var(--font);
    font-size: var(--font-size);
    background-color: var(--darkblue);
    color: white;
    padding: 2px;
}
.link-button {
    font-family: var(--font);
    font-size: var(--font-size);
    text-decoration: none;
    color: white;
    background-color: var(--button-color); 
    margin: 0px 1px 0px 1px;
    padding: 2px 5px 2px 5px;
    border: 1.5px ridge;
}

/* TopContent(); */
.main-top-box {
    display: flex;
    background-color: var(--darkblue);
    height: 71px;
}
.main-top-content {
    flex: 1;
}
.main-top-content div {
    margin-top: -3px;
    margin-left: 4px;
}
.main-top-content div a {
    font-family: var(--font);
    font-size: var(--font-size);
    color: white;
    text-decoration: none;
    padding: 0px 3px 0px 3px;
}
.main-top-content div a:hover {
    text-decoration: underline;
}
/* TopContent(); */

/* Bottom Content */
.bottom-content {
    font-family: var(--font);
    font-size: var(--font-size);    
    line-height: 4px;
    padding: 12px 0px 2px 0px;
    text-align: center;
}
.bottom-content a {
    color: var(--lightblue);
    text-decoration: none;
    padding: 0px 3px 0px 3px;    
}
.bottom-content a:hover {
    color: var(--hover-lightblue);
    text-decoration: underline;
}
/* Bottom Content */

/* LeftLoginForm() */
.left-login-box {
    flex: 1;
    align-self: flex-start;
    border: 1px dashed var(--lightblue);
    padding-top: 3px;
}
.left-login-form { }
.left-login-label {
    font-family: var(--font);
    font-size: var(--font-size);
    float: right!important;
    margin-right: 5px;
}
.left-login-box-input {
    text-align: center;
}
.left-login-button { }
.left-login-email-input,
.left-login-password-input {    
    font-family: var(--font);
    font-size: var(--font-size);
    background-color: var(--input-color);
    width: 135px;
    border: 1px solid black;        
}
.left-login-buttons {
    padding: 8px 8px 12px 8px;
    text-align: center;    
}
.left-login-button, 
.left-login-box a {
    font-family: var(--font);
    font-size: var(--font-size);
    text-decoration: none;
    color: white;
    background-color: var(--button-color); 
    margin: 0px 1px 0px 1px;
    padding: 2px 5px 2px 5px;
    border: 1.5px ridge;
}
.left-login-box a:hover {
    cursor: default;
}
/* LeftLoginForm() */